* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container.night {
	background-color: rgba(25, 24, 37, 0.911);
}
.label {
	background-color: black;
	display: flex;
	height: 30px;
	border-radius: 50px;
	width: 100px;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 0 15px;
	transition: all .5s ease-in-out;
	cursor: pointer;
	border: 2px solid black;
}
.label .mode-moon {
	color: rgb(250, 250, 250);
}
label .mode-sun {
	color: rgb(243, 188, 36);
}
.blob {
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	background: rgb(169, 241, 243);
	border-radius: 50px;
	transition: .5s ease all;
}
.checkbox {
	opacity: 0;
	position: absolute;
}
.info {
	display: block;
	margin-top: 50px;
}
.info.night {
	color: white;
}
.checkbox:checked + .label .blob {
	left: 0;
}
.checkbox:checked + .label {
	background-color: rgb(82, 81, 83);
}
